@import url('https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+KuaiLe&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: aliceblue;
  background-image: linear-gradient(135deg, #ebebeb 0%, #b6b6b6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: none;
  position: relative;
  text-align: center;
  width: 50vw;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  overflow: hidden;
  position: absolute;
}

.loader>div {
  height: 100px;
  width: 100px;
  border: 15px solid #45474b;
  border-top-color: #2a88e6;
  border-radius: 50%;
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}