@import url('https://fonts.googleapis.com/css2?family=Lato&family=ZCOOL+KuaiLe&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: aliceblue;
    background-image: linear-gradient(135deg, #ebebeb 0%, #b6b6b6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    display: none;
    /* display: flex; */
    position: relative;
    text-align: center;
    width: 50vw;
    transition: opacity 2s ease-in;
    opacity: 0;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    /* opacity: 1; */
}

.loader>span {
    display: inline-block;
    background-color: purple;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce 0.6s infinite alternate;
    transform: translateY(0);
}

.loader>span:nth-child(2) {
    background-color: palevioletred;
    animation-delay: 0.2s;
}

.loader>span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 16px;
        height: 16px;
        transform: translateY(-16px);
    }
}